<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
	xmlns:fo="http://www.w3.org/1999/XSL/Format" version="1.0">
	<xsl:output encoding="UTF-8" indent="yes" method="xml"
		standalone="no" omit-xml-declaration="no" />
	<xsl:template match="data">
		<fo:root language="EN" font-size="8pt" font-family="arial">
			<fo:layout-master-set>
				<fo:simple-page-master master-name="page-master"
					page-height="101.6mm" page-width="152.4mm" margin-top="5mm"
					margin-bottom="5mm" margin-left="5mm" margin-right="5mm" >
					<fo:region-body region-name="body" />
					<fo:region-before region-name="header" extent="5mm"
						margin-bottom="5mm" margin-top="5mm" />
					display-align="before" precedence="true" />
					<fo:region-after region-name="footer" extent="5mm"
						margin-bottom="5mm" margin-top="5mm" />
				</fo:simple-page-master>
			</fo:layout-master-set>
			<fo:page-sequence master-reference="page-master">
				<fo:static-content flow-name="header">
					<fo:block></fo:block>
				</fo:static-content>
				<fo:static-content flow-name="footer">
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<fo:block>
					    Powered by Increff
					</fo:block>
				</fo:static-content>
				<fo:flow flow-name="body"
					reference-orientation="0">
					<fo:table table-layout="fixed" width="100%">
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell padding-after="0pt">
									<fo:block>
									    <fo:block>Box #:#writeBarcodeWithoutText($data.boxId)</fo:block>
									    <fo:block><fo:inline font-size="20pt" font-weight="bold">#writeString($data.boxId)</fo:inline></fo:block>
									</fo:block>
								</fo:table-cell>
								<fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="before">
									<fo:block>BOX LABEL</fo:block>
								</fo:table-cell>
								<fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="before">
									<fo:block>#writeString($data.vendorName)</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<fo:table table-layout="fixed" width="100%">
						<fo:table-column column-width="proportional-column-width(100)" />
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell text-align="left" padding-before="2pt" padding-after="2pt"
                                               display-align="after">
								    <fo:block>Order #:</fo:block>
								    <fo:block><fo:inline font-size="19pt" font-weight="bold">#writeString($data.channelOrderId)</fo:inline></fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<!-- INVOICE INFORMATION -->
					<fo:table table-layout="fixed" width="100%">
						<fo:table-column column-width="proportional-column-width(50)" />
						<fo:table-column column-width="proportional-column-width(50)" />
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell>
									<fo:block font-weight="bold">SHIP FROM</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block font-weight="bold">SHIP TO</fo:block>
								</fo:table-cell>
							</fo:table-row>
							<fo:table-row>
								<fo:table-cell>
									<fo:block>#writeAddress($data.fromAddress)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeAddress($data.toAddress)</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<fo:block></fo:block>
					<fo:block></fo:block>
					<!-- LINE ITEMS -->
					<fo:block font-weight="bold">
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0px" />
						Packbox Details
						<fo:inline font-size="8pt" font-weight="bold">(values are in respective units)</fo:inline>

					</fo:block>
					<fo:table table-layout="fixed" width="100%">
                        <fo:table-column column-width="proportional-column-width(50)" />
                        <fo:table-column column-width="proportional-column-width(25)" />
                        <fo:table-column column-width="proportional-column-width(25)" />
                        <fo:table-header font-weight="bold">
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell padding="2pt">
                                    <fo:block>Length * Breadth * Height</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>Weight</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>Quantity</fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-header>
                        <fo:table-body>
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>
                                        <fo:inline font-size="13pt" font-weight="bold">
                                            #writeDimension($data.length) *
                                            #writeDimension($data.breadth) *
                                            #writeDimension($data.height)
                                        </fo:inline>
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>
                                        <fo:inline font-size="13pt" font-weight="bold">
                                            #writeString($data.weight)
                                        </fo:inline>
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>
                                        <fo:inline font-size="13pt" font-weight="bold">
                                            #writeString($data.itemCount)
                                        </fo:inline>
                                    </fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
					<fo:block font-weight="bold">
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0px" />

					</fo:block>
					<fo:table>
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell height="0.2in" font-size="13pt" font-weight="bold">
									<fo:block>#writeString($data.remarks)</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
				</fo:flow>
			</fo:page-sequence>
		</fo:root>
	</xsl:template>
</xsl:stylesheet>

#macro( writeString $str)
#if($str)

<![CDATA[$str]]>
#end
#end

#macro( writeAddress $add)
  #if($add)

<fo:block>#writeString($add.name)</fo:block>
<fo:block>
    #if($add.city)
        <fo:inline font-size="13pt" font-weight="bold">#writeString($add.city),</fo:inline>
    #end
 </fo:block>
 <fo:block>
     <fo:inline font-size="13pt" font-weight="bold">#writeString($add.state)</fo:inline>
 </fo:block>
<fo:block>
    #if($add.country)
      #writeString($add.country),
    #end
    #writeString($add.zip)
  </fo:block>
<fo:block></fo:block>
  #end
#end

#macro( writeBarcodeWithoutText $str)
#if($str.toString().contains("&"))
        #set( $str = $str.replace("&", "&amp;") )
#end
#if($str.toString().contains("<"))
        #set( $str = $str.replace("<", "&lt;") )
#end
#if($str.toString().contains(">"))
        #set( $str = $str.replace(">", "&gt;") )
#end
#if($str.toString().contains("'"))
        #set( $str = $str.replace("'", "&apos;") )
#end
#if($str.toString().contains('"'))
        #set( $str = $str.replace('"', "&quot;") )
#end
#if($str)
<fo:instream-foreign-object>
	<bc:barcode xmlns:bc="http://barcode4j.krysalis.org/ns"
		message="$str">
		<bc:code128>
			<bc:height>10mm</bc:height>
			<human-readable>
				<placement>none</placement>
			</human-readable>
		</bc:code128>
	</bc:barcode>
</fo:instream-foreign-object>
#end
#end

#macro(writeDimension $str)
#if($str)
    #writeString($str)
#else
    1.0
#end
#end

#macro( writeDateTime $dateTime $format)
#if($dateTime)
	$date.format('dd MMM yyyy, hh:mm a', $dateTime)
#end
#end