<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
	xmlns:fo="http://www.w3.org/1999/XSL/Format" version="1.0">
	<xsl:output encoding="UTF-8" indent="yes" method="xml"
		standalone="no" omit-xml-declaration="no" />
	<xsl:template match="data">
		<fo:root language="EN" font-size="8pt" font-family="arial">
			<fo:layout-master-set>
				<fo:simple-page-master master-name="page-master"
					page-height="297mm" page-width="210mm" margin-top="5mm"
					margin-bottom="5mm" margin-left="5mm" margin-right="5mm">
					<fo:region-body region-name="body" />
					<fo:region-before region-name="header" extent="5mm"
						margin-bottom="5mm" margin-top="5mm" />
					display-align="before" precedence="true" />
					<fo:region-after region-name="footer" extent="15mm"
						margin-bottom="5mm" margin-top="5mm" />
				</fo:simple-page-master>
			</fo:layout-master-set>
			<fo:page-sequence master-reference="page-master">

				<fo:static-content flow-name="header">
					<fo:block>
					</fo:block>
				</fo:static-content>

				<fo:static-content flow-name="footer">
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>

					<fo:table table-layout="fixed" width="100%">
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell>
									<fo:block>From Signature:</fo:block>
									<fo:block>Full Name:</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Transporter Signature:</fo:block>
									<fo:block>Full Name:</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>

					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<fo:block>
						<fo:block>
							Page
							<fo:page-number />
							(This is a system generated document)
						</fo:block>
					</fo:block>
				</fo:static-content>

				<fo:flow flow-name="body" border-collapse="collapse"
					reference-orientation="0">
					<fo:table table-layout="fixed" width="100%">
						<fo:table-body>
							<fo:table-row>
                                <fo:table-cell padding-after="0pt">
                                    <fo:block>
                                        <fo:external-graphic content-height="10mm"
                                                             content-width="32mm"
                                                             scaling="uniform"
                                                             padding-left="2pt"
                                                             src="url('classpath:com/increff/commons/images/increff_image.png')">
                                        </fo:external-graphic>
                                    </fo:block>
                                </fo:table-cell>
								<fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="after">
									<fo:block>MANIFEST</fo:block>
								</fo:table-cell>
								<fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="after">
									<fo:block></fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>
					<!-- INVOICE INFORMATION -->
					<fo:table table-layout="fixed" width="100%">
						<fo:table-column column-width="proportional-column-width(10)" />
						<fo:table-column column-width="proportional-column-width(30)" />
						<fo:table-column column-width="proportional-column-width(30)" />
						<fo:table-column column-width="proportional-column-width(30)" />
						<fo:table-body>
							<fo:table-row>
								<fo:table-cell>
									<fo:block>Manifest Time: </fo:block>
									<fo:block>Manifest #: </fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeDateTime($data.manifestTime)</fo:block>
									<fo:block>#writeBarcodeWithText($data.manifestId)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Channel: #writeString($data.channelId)</fo:block>
									<fo:block>Channel Manifest #: #writeString($data.channelManifestId)</fo:block>
									<fo:block>Transporter: #writeString($data.transporter)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Warehouse Address: #writeAddress($data.warehouseAddress)</fo:block>
									<fo:block>GSTIN: #writeString($data.gstin)</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-body>
					</fo:table>
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0.5px" />
					</fo:block>

					<fo:block></fo:block>
					<fo:block></fo:block>

					<!-- LINE ITEMS -->
					<fo:block>
						<fo:leader leader-length="100%" leader-pattern="rule"
							rule-thickness="0px" />
						Shipments
					</fo:block>

					<fo:table table-layout="fixed" width="100%">
						<fo:table-column column-number="1" column-width="5%" /> <!--# -->
						<fo:table-column column-number="2" column-width="17%" /><!--Order
							No. -->
						<fo:table-column column-number="3" column-width="10%" /><!--Zip/Phone -->
						<fo:table-column column-number="4" column-width="33%" /><!--
							AWB -->
						<fo:table-column column-number="5" column-width="23%" /><!--External
							Order No. -->
						<fo:table-column column-number="6" column-width="5%" /><!--Qty
							up to 100,000 -->
						<fo:table-column column-number="7" column-width="7%" /><!--Box Count
							up to 100,000 -->
						<fo:table-header font-weight="bold">
							<fo:table-row border="solid 0.5px black">
								<fo:table-cell>
									<fo:block>#</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Order #</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>To ZIP</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>AWB #</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Ext Order #</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Qty</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>Box Count</fo:block>
								</fo:table-cell>
							</fo:table-row>
						</fo:table-header>

						<fo:table-body>
							 #foreach ($item in $data.lineItems)
							<fo:table-row border="solid 0.5px black">
								<fo:table-cell>
									<fo:block>$foreach.count</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>
										#writeString($item.orderNo)
									</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeString($item.toZip)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>
										#writeBarcodeWithText($item.awbNo)
									</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeString($item.channelOrderNo)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeString($item.quantity)</fo:block>
								</fo:table-cell>
								<fo:table-cell>
									<fo:block>#writeString($item.boxCount)</fo:block>
								</fo:table-cell>
							</fo:table-row>
						#end
						</fo:table-body>
					</fo:table>

				    <fo:table table-layout="fixed" width="100%" padding-top="10mm" padding-bottom="10mm">
				        <fo:table-column column-number="1" column-width="80%" /> <!--# -->
                        <fo:table-column column-number="2" column-width="13%" /> <!--# -->
                        <fo:table-column column-number="3" column-width="7%" /><!--# -->
                        <fo:table-body font-weight="bold">
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                <fo:block></fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>Total Box Count:</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>$data.totalBoxCount</fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>

				</fo:flow>

			</fo:page-sequence>
		</fo:root>
	</xsl:template>
</xsl:stylesheet>

#macro( writeAddress $add)
#if($add)
	<fo:block>#writeString($add.name)</fo:block>
	<fo:block>#writeString($add.line1)</fo:block>
	<fo:block>#writeString($add.line2)</fo:block>
	<fo:block>#writeString($add.city), #writeString($add.state), #writeString($add.country), #writeString($add.zip)</fo:block>
	<fo:block></fo:block>
#end
#end


#macro( writeString $str)
#if($str)
	<![CDATA[$str]]>
#end
#end

#macro( writeBarcodeWithText $str)
#if($str.toString().contains("&"))
	#set( $str = $str.replace("&", "&amp;") )
#end
#if($str.toString().contains("<"))
	#set( $str = $str.replace("<", "&lt;") )
#end
#if($str.toString().contains(">"))
	#set( $str = $str.replace(">", "&gt;") )
#end
#if($str.toString().contains("'"))
	#set( $str = $str.replace("'", "&apos;") )
#end
#if($str.toString().contains('"'))
	#set( $str = $str.replace('"', "&quot;") )
#end
#if($str)
<fo:instream-foreign-object>
	<bc:barcode xmlns:bc="http://barcode4j.krysalis.org/ns"
		message="$str">
		<bc:code128>
			<bc:height>10mm</bc:height>
		</bc:code128>
	</bc:barcode>
</fo:instream-foreign-object>
#end
#end

#macro( writeDateTime $dateTime $format)
#if($dateTime)
	$date.format('dd MMM yyyy, hh:mm a', $dateTime)
#end
#end