<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                xmlns:fo="http://www.w3.org/1999/XSL/Format" version="1.0"
                xmlns:fox="http://xmlgraphics.apache.org/fop/extensions">
    <xsl:output encoding="UTF-8" indent="yes" method="xml"
                standalone="no" omit-xml-declaration="no"/>
    <xsl:template match="data">
        <fo:root language="EN" font-size="8pt" font-family="arial">
            <fo:layout-master-set>
                <fo:simple-page-master master-name="page-master"
                                       page-height="297mm" page-width="210mm" margin-top="5mm"
                                       margin-bottom="5mm" margin-left="5mm" margin-right="5mm">
                    <fo:region-body region-name="body" background-image="url(#writeImageUrl($data.invoiceCancelled))"
                                    background-color="transparent" fox:background-image-width="200mm"
                                    fox:background-image-height="296mm"/>
                    <fo:region-before region-name="header" extent="5mm"
                                      margin-bottom="5mm" margin-top="5mm"/>
                    display-align="before" precedence="true" />
                    <fo:region-after region-name="footer" extent="5mm"
                                     margin-bottom="5mm" margin-top="5mm"/>
                </fo:simple-page-master>
            </fo:layout-master-set>
            <fo:page-sequence master-reference="page-master">

                <fo:static-content flow-name="header">
                    <fo:block>
                    </fo:block>
                </fo:static-content>

                <fo:static-content flow-name="footer">
                    <fo:block>
                        <fo:leader leader-length="100%" leader-pattern="rule"
                                   rule-thickness="0.5px"/>
                    </fo:block>
                    <fo:block>
                        Page
                        <fo:page-number/>
                        (This is a system generated document and doesn't need signature)
                    </fo:block>
                </fo:static-content>

                <fo:flow flow-name="body" border-collapse="collapse"
                         reference-orientation="0">
                    <fo:table table-layout="fixed" width="100%">
                        <fo:table-body>
                            <fo:table-row>
                                <fo:table-cell padding-after="0pt">
                                    <fo:block>
                                        <fo:external-graphic content-height="10mm"
                                                             content-width="32mm"
                                                             scaling="uniform"
                                                             padding-left="2pt"
                                                             src="url('classpath:com/increff/commons/images/increff_image.png')">
                                        </fo:external-graphic>
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="after">
                                    <fo:block>STOCK TRANSFER NOTE</fo:block>
                                </fo:table-cell>
                                <fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                               display-align="after">
                                    <fo:block>#writeString($data.vendorName)</fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
                    <fo:block>
                        <fo:leader leader-length="100%" leader-pattern="rule"
                                   rule-thickness="0.5px"/>
                    </fo:block>
                    <!-- INVOICE INFORMATION -->
                    <fo:table table-layout="fixed" width="100%">
                        <fo:table-column column-width="proportional-column-width(15)"/>
                        <fo:table-column column-width="proportional-column-width(35)"/>
                        <fo:table-column column-width="proportional-column-width(20)"/>
                        <fo:table-column column-width="proportional-column-width(30)"/>
                        <fo:table-body>
                            <fo:table-row>
                                <fo:table-cell>
                                    <fo:block>Time:</fo:block>
                                    <fo:block>Currency:</fo:block>
                                    <fo:block>STN #:</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeDateTime($data.invoiceOrStockTransferTime)</fo:block>
                                    <fo:block>#writeString($data.currency)</fo:block>
                                    <fo:block>
                                        #writeBarcodeWithText($data.invoiceOrStockTransferNo)
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>Order Time:</fo:block>
                                    <fo:block>Channel Name:</fo:block>
                                    <fo:block>Channel Order/PO #:</fo:block>
                                    <fo:block>Order #:</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeDateTime($data.orderTime)</fo:block>
                                    <fo:block>#writeString($data.channelName)</fo:block>
                                    <fo:block>#writeString($data.channelOrderNo)</fo:block>
                                    <fo:block>
                                        #writeBarcodeWithText($data.orderNo)
                                    </fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
                    <fo:block>
                        <fo:leader leader-length="100%" leader-pattern="rule"
                                   rule-thickness="0px"/>
                    </fo:block>

                    <!-- ADDRESS & TAX -->
                    <fo:table table-layout="fixed" width="100%">
                        <fo:table-column column-width="proportional-column-width(18)"/>
                        <fo:table-column column-width="proportional-column-width(41)"/>
                        <fo:table-column column-width="proportional-column-width(41)"/>
                        <fo:table-header font-weight="bold">
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>#</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block> STOCK TRANSFER FROM</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block> STOCK TRANSFER TO</fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-header>

                        <fo:table-body>
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>Party Name :</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeString($data.fromPartyName)</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeString($data.toPartyName)</fo:block>
                                </fo:table-cell>
                            </fo:table-row>

                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>GSTIN :</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeString($data.fromTaxId)</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeString($data.toTaxId)</fo:block>
                                </fo:table-cell>
                            </fo:table-row>

                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>PAN :</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeString($data.panNo)</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block></fo:block>
                                </fo:table-cell>
                            </fo:table-row>

                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>Address :</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeAddress($data.fromAddress)</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeAddress($data.shippingAddress)</fo:block>
                                </fo:table-cell>
                            </fo:table-row>


                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell>
                                    <fo:block>Email :</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeEmail($data.fromAddress)</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block>#writeEmail($data.shippingAddress)</fo:block>
                                </fo:table-cell>
                            </fo:table-row>

                        </fo:table-body>
                    </fo:table>

                    <fo:block></fo:block>
                    <fo:block></fo:block>

                    <!-- LINE ITEMS -->
                    <fo:block>
                        <fo:leader leader-length="100%" leader-pattern="rule"
                                   rule-thickness="0px"/>
                        Stock Transfer Items
                    </fo:block>

                    <xsl:choose>
                        <!--IF: FROM GST IS SAME AS TO GST -> LINE ITEMS WITHOUT TAX DETAILS -->
                        <xsl:when test="#compareTaxId($data.fromTaxId,$data.toTaxId) != 0">
                            <fo:table width="100%" table-layout="fixed">
                                <fo:table-column column-number="1" column-width="5%"/> <!--# -->
                                <fo:table-column column-number="2" column-width="15%"/><!--No.
							Accommodate EAN -->
                                <fo:table-column column-number="3" column-width="25%"/><!--Description -->
                                <fo:table-column column-number="4" column-width="17%"/><!--Tax Code-->
                                <fo:table-column column-number="5" column-width="6%"/><!--Qty
							up to 100,000 -->
                                <fo:table-column column-number="6" column-width="9%"/><!--Mrp
							up to 100,000 -->
                                <fo:table-column column-number="7" column-width="11%"/><!--Cost-->
                                <fo:table-column column-number="8" column-width="12%"/><!--Total Cost
							% -->
                                <fo:table-header font-weight="bold">
                                    <fo:table-row border="solid 0.5px black">
                                        <fo:table-cell>
                                            <fo:block>#</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Item/SKU/EAN</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Description</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Tax Code</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Qty</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Mrp</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Price</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Total Price</fo:block>
                                        </fo:table-cell>
                                    </fo:table-row>
                                </fo:table-header>

                                <fo:table-body>
                                    #foreach($item in $data.itemLines)
                                        <fo:table-row border="solid 0.5px black">
                                            <fo:table-cell>
                                                <fo:block>$foreach.count</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>#writeString($item.vendorSku)</fo:block>
                                                <fo:block>#writeString($item.channelSku)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>#writeString($item.itemName)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>#writeString($item.hsnId)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$item.quantity</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $item.mrp)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $item.baseSellingPricePerUnit)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $item.actualSellingPriceTotal)</fo:block>
                                            </fo:table-cell>
                                        </fo:table-row>
                                    #end

                                    <fo:table-row border="solid 0.5px black" margin-top="5mm" font-weight="bold">
                                        <fo:table-cell>
                                            <fo:block>#</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>Totals:</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block></fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block></fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>#writeString($data.quantity)</fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block></fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block></fo:block>
                                        </fo:table-cell>
                                        <fo:table-cell>
                                            <fo:block>$math.roundTo(2, $data.subTotalAmount)</fo:block>
                                        </fo:table-cell>
                                    </fo:table-row>


                                </fo:table-body>
                            </fo:table>

                        </xsl:when>
                        <!-- ELSE : LINE ITEMS WITH TAX DETAILS -->
                        <xsl:otherwise>
                            <fo:block>
                                <fo:table width="100%" table-layout="fixed">
                                    <fo:table-column column-number="1" column-width="5%"/> <!--# -->
                                    <fo:table-column column-number="2" column-width="15%"/><!--EAN -->
                                    <fo:table-column column-number="3" column-width="25%"/><!--Description -->
                                    <fo:table-column column-number="4" column-width="5%"/><!--Qty-->
                                    <fo:table-column column-number="5" column-width="8%"/><!--MRP-->
                                    <fo:table-column column-number="6" column-width="8%"/><!-- Base price (per unit) -->
                                    <fo:table-column column-number="7" column-width="11%"/>
                                    <!--Base Value (Total for given qty)-->
                                    <fo:table-column column-number="8" column-width="11%"/><!--Tax%-->
                                    <fo:table-column column-number="9" column-width="12%"/>
                                    <!--Amt (Actual Selling Price)-->
                                    <fo:table-header font-weight="bold">
                                        <fo:table-row border="solid 0.5px black">
                                            <fo:table-cell>
                                                <fo:block>#</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Item/SKU/EAN</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Description</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Qty</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>MRP</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Base Price</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Base Amt</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Tax Amt</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Total Amt</fo:block>
                                            </fo:table-cell>
                                        </fo:table-row>
                                    </fo:table-header>

                                    <fo:table-body>
                                        #foreach($item in $data.itemLines)
                                            <fo:table-row border="solid 0.5px black">
                                                <fo:table-cell>
                                                    <fo:block>$foreach.count</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>#writeString($item.vendorSku)</fo:block>
                                                    <fo:block>#writeString($item.channelSku)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>#writeString($item.itemName)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$item.quantity</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$math.roundTo(2, $item.mrp)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$math.roundTo(2, $item.baseSellingPricePerUnit)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$math.roundTo(2, $item.baseSellingPriceTotal)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$math.roundTo(2, $item.netTaxAmountTotal)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>$math.roundTo(2, $item.actualSellingPriceTotal)</fo:block>
                                                </fo:table-cell>
                                            </fo:table-row>
                                        #end

                                        <!-- Total -->
                                        <fo:table-row border="solid 0.5px black" font-weight="bold">
                                            <fo:table-cell>
                                                <fo:block>#</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Totals:</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block></fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block font-weight="bold">#writeString($data.quantity)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block></fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block></fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $data.subBaseAmount)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $data.subTaxAmount)</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>$math.roundTo(2, $data.subTotalAmount)</fo:block>
                                            </fo:table-cell>
                                        </fo:table-row>


                                    </fo:table-body>
                                </fo:table>
                                <!-- TAX ITEMS -->
                                <fo:block>
                                    <fo:leader leader-length="100%" leader-pattern="rule"
                                               rule-thickness="0px"/>
                                    Tax Details
                                </fo:block>

                                <fo:table table-layout="fixed" width="100%">
                                    <fo:table-column column-number="1" column-width="5%"/> <!--# -->
                                    <fo:table-column column-number="2" column-width="25%"/><!--EAN -->
                                    <fo:table-column column-number="3" column-width="20%"/><!--HSN -->
                                    <fo:table-column column-number="4" column-width="50%"/><!--Rates -->
                                    <fo:table-header font-weight="bold">
                                        <fo:table-row border="solid 0.5px black">
                                            <fo:table-cell>
                                                <fo:block>#</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Item/SKU/EAN</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Item Tax Code</fo:block>
                                            </fo:table-cell>
                                            <fo:table-cell>
                                                <fo:block>Tax Breakup</fo:block>
                                            </fo:table-cell>
                                        </fo:table-row>
                                    </fo:table-header>

                                    <fo:table-body>
                                        #foreach($item in $data.itemLines)
                                            <fo:table-row border="solid 0.5px black">
                                                <fo:table-cell>
                                                    <fo:block>$foreach.count</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>#writeString($item.vendorSku)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>#writeString($item.hsnId)</fo:block>
                                                </fo:table-cell>
                                                <fo:table-cell>
                                                    <fo:block>#writeTaxItems($item.subTaxItemData)</fo:block>
                                                </fo:table-cell>
                                            </fo:table-row>
                                        #end

                                    </fo:table-body>
                                </fo:table>

                            </fo:block>
                        </xsl:otherwise>
                    </xsl:choose>


                    <fo:block>
                        <fo:leader leader-length="100%" leader-pattern="rule"
                                   rule-thickness="0px"/>
                        Remarks
                    </fo:block>
                    <fo:table>
                        <fo:table-body>
                            <fo:table-row border="solid 0.5px black">
                                <fo:table-cell height="1in">
                                    <fo:block></fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
                    #if($data.signatureUrl)
                        <fo:table>
                            <fo:table-body>

                                <fo:table-row>

                                    <fo:table-cell text-align="right" padding-before="6pt" padding-after="3pt"
                                                   display-align="after" margin-right="5mm">
                                        <fo:block>
                                            <fo:external-graphic content-height="10mm"
                                                                 src="url('$data.signatureUrl')">
                                            </fo:external-graphic>
                                        </fo:block>
                                    </fo:table-cell>
                                </fo:table-row>
                                <fo:table-row>
                                    <fo:table-cell text-align="right" padding-after="3pt" display-align="after">
                                        <fo:block>Authorized Sign</fo:block>
                                    </fo:table-cell>
                                </fo:table-row>

                                <fo:table-row>
                                    <fo:table-cell text-align="right" padding-after="2pt" display-align="after">
                                        <fo:block>For #writeString($data.vendorName) </fo:block>
                                    </fo:table-cell>
                                </fo:table-row>
                            </fo:table-body>
                        </fo:table>
                    #end

                </fo:flow>
            </fo:page-sequence>
        </fo:root>
    </xsl:template>
</xsl:stylesheet>

#macro( writeAddress $add)
    #if($add)
    <fo:block>#writeString($add.name)</fo:block>
    <fo:block>#writeString($add.line1)</fo:block>
    <fo:block>#writeString($add.line2)</fo:block>
    <fo:block>
        #if($add.city)
            #writeString($add.city),
        #end
        #writeString($add.state)
    </fo:block>

    <fo:block>
        #if($add.country)
            #writeString($add.country),
        #end
        #writeString($add.zip)
    </fo:block>
    <fo:block>#writeString($add.phone)</fo:block>
    <fo:block></fo:block>
    #end
#end

#macro( writeEmail $add)
<fo:block>
    #writeString($add.email)
</fo:block>
#end

#macro( writeTaxItems $subTaxItemData)
    #if($subTaxItemData)
        #foreach($taxItem in $subTaxItemData)
        |#writeString($taxItem.type): $math.roundTo(2, $taxItem.rate)
        #end
    |
    #end
#end


#macro( writeString $str)
    #if($str)
    <![CDATA[$str]]>
    #end
#end

#macro( writeBarcodeWithText $str)
    #if($str.toString().contains("&"))
        #set( $str = $str.replace("&", "&amp;") )
    #end
    #if($str.toString().contains("<"))
        #set( $str = $str.replace("<", "&lt;") )
    #end
    #if($str.toString().contains(">"))
        #set( $str = $str.replace(">", "&gt;") )
    #end
    #if($str.toString().contains("'"))
        #set( $str = $str.replace("'", "&apos;") )
    #end
    #if($str.toString().contains('"'))
        #set( $str = $str.replace('"', "&quot;") )
    #end
    #if($str)
    <fo:instream-foreign-object>
        <bc:barcode xmlns:bc="http://barcode4j.krysalis.org/ns"
                    message="$str">
            <bc:code128>
                <bc:height>10mm</bc:height>
            </bc:code128>
        </bc:barcode>
    </fo:instream-foreign-object>
    #end
#end

#macro(writeDateTime $dateTime)
    #if($dateTime)
        $date.format('dd MMM yyyy, hh:mm a', $dateTime)
    #end
#end

<!-- 0 sent for false and any other value for true, this is required since comparison for 0(false) works in xsl:choose-->
#macro(compareTaxId $fromTaxId $toTaxId)
    #if($fromTaxId == $toTaxId)
        1
    #else
        0
    #end
#end

#macro(writeImageUrl $invoiceCancelled)
    #set($cancelledUrl='classpath:com/increff/commons/images/cancelled_image_1.jpg')
    #set($nonCancelledUrl='classpath:com/increff/commons/images/cancelled_image_2.jpg')
    #if($invoiceCancelled == true)
        $cancelledUrl
    #else
        $nonCancelledUrl
    #end
#end

